{
  "presets": ["@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    },
    "lib": {
      "presets": [["@babel/preset-env"]]
    },
    "es": {
      "presets": [["@babel/preset-env", {"modules": false}]]
    },
    "esnext": {}
  }
}
