{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    },
    "lib": {
      "presets": [["@babel/preset-env"]]
    },
    "es": {
      "presets": [["@babel/preset-env", {"modules": false}]]
    },
    "esnext": {}
  }
}
